<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Fantasy Showdown | OTP</title>
    <style>
      @media screen and (max-width: 600px) { .content { width: 100% !important;
      display: block !important; padding: 10px !important; } .header, .body,
      .footer { padding: 20px !important; } } .gradient-background { background:
      linear-gradient(135deg, #f06, #aaf); padding: 20px; text-align: center; }
    </style>
  </head>

  <body style='background-color: #000;'>
    <div style='padding:40px;'>
      <div
        style='background-color: #000; border-radius: 30px; margin: 0 auto; margin-top: 30px; max-width: 600px; text-align: center;font-family: Arial, sans-serif; '
      >
        <table border='0' cellspacing='0' cellpadding='0'>
          <tr>
            <td align=' center'>
              <table
                class='content'
                width='700'
                border='0'
                cellspacing='0'
                cellpadding='0'
                style='border-collapse:collapse;background-color: #000;border-radius: 30px;margin: 0 auto;margin-top: 30px;max-width: 600px;text-align: center;'
              >
                <tr>
                  <td style='padding-top: 45px;'><img
                      style='width: 280px;'
                      src='https://res.cloudinary.com/diufau7vt/image/upload/v1726483597/logolight_liwevn.png'
                      alt=''
                    /></td>
                </tr>
                <tr>
                  <td
                    class='body'
                    style=" color: #ffffff; padding: 40px; font-family: 'Futura PT':text-align: center; font-size: 16px; line-height: 1.6; "
                  >
                    <div style='font-size:14px;padding: 10px 30px;'>
                      <!-- Edit Content Start here -->
                      <h2
                        style='text-transform: capitalize;padding-top: 15px; text-align: center; color: #ffffff;'
                      >Hi
                        {{fullname}}</h2>
                      <h5 style='font-size: 18px; font-weight: 300; color: #ffffff;'>Here’s the
                        code you’ll need to continue:</h5>
                      <b
                        style='font-weight: 700; color: #ceee4b; display: block; font-size: 40px; letter-spacing: 14px;'
                      >{{otp}}</b>
                     
                      <p style='font-size: 18px; font-weight: 400; color: #ffffff;'>Just copy
                        and paste it into the field on the screen you just came
                        from, and you’re good to go!</p>
                      <p style='color: #3d3d3d; font-size: 12px; color: #ffffff;'>This is a
                        one-time code that expires in 2 minutes. If you didn’t
                        process this request, you don’t have to do anything, you
                        can simply ignore this email.</p>

                      <!-- Edit Content Start here -->
                      <br /><br />
                      <div
                        class='footer'
                        style='border-top: 1px solid #ddd; padding: 10px; text-align: center; color: #ffffff;'
                      >
                        <span class='powered-by'>Fantasy Showdown</span>
                        <p style=' color: #ffffff; font-size: 12px;'>If you’re
                          having trouble viewing this email, please view this
                          email in browser</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </body>

</html>
{{!-- Test --}}