<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Fantasy Showdown | Password Reset Success</title>

    <style>
      @media screen and (max-width: 600px) { .content { width: 100% !important;
      display: block !important; padding: 10px !important; } .header, .body,
      .footer { padding: 20px !important; } } .gradient-background { background:
      linear-gradient(135deg, #f06, #aaf); padding: 20px; text-align: center; }
    </style>
  </head>
  <body style='background-color: #000000;'>
    <div style='padding:40px;'>
      <div
        style='background-color: #000000; border-radius: 30px; margin: 0 auto; margin-top: 30px; max-width: 600px; text-align: center;font-family: Arial, sans-serif;'
      >
        <table border='0' cellspacing='0' cellpadding='0'>
          <tr>
            <td align=' center'>
              <table
                class='content'
                width='700'
                border='0'
                cellspacing='0'
                cellpadding='0'
                style='border-collapse:collapse;background-color: #000000;border-radius: 30px;margin: 0 auto;margin-top: 30px;max-width: 600px;text-align: center;'
              >
                <tr>
                  <td style='padding-top: 45px;'><img
                      style='width: 280px;'
                      src='https://res.cloudinary.com/diufau7vt/image/upload/v1726483597/logolight_liwevn.png'
                      alt=''
                    /></td>
                </tr>
                <tr>
                  <td
                    class='body'
                    style="padding: 40px; font-family: 'Futura PT':text-align: center; font-size: 16px; line-height: 1.6; color: #ffffff;"
                  >
                    <div style='font-size: 14px; padding: 20px; color: #ffffff;'>
                      <!-- Edit Content Start here -->
                      <h2
                        style='text-transform: capitalize;padding-top: 15px; text-align: center; color: #ffffff;'
                      >Hi {{fullname}}</h2>
                      <p style='font-size: 18px; font-weight: 400; color: #ffffff;'>Your
                        password changed successfully.</p>
                      <div style='padding-bottom: 10px;'>
                        <a
                          href='{{url}}'
                          style='background-color: #fff;text-decoration: none; padding: 10px 40px; font-size: 16px; font-weight: bold; color: 000; border: none; cursor: pointer;'
                        >Login Now</a>
                      </div>
                      <!-- Edit Content Start here -->
                      <br /><br />
                      <div
                        class='footer'
                        style='border-top: 1px solid #ddd; padding: 10px; text-align: center; color: #ffffff;'
                      >
                        <span class='powered-by'>Fantasy Showdown</span>
                        <p style='font-size: 12px; color: #ffffff;'>If you’re
                          having trouble viewing this email, please view this
                          email in browser</p>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>